* {
    margin: 0;
    border: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header {
    display: flex;
    padding: 20px;
    background-color: rgb(42, 42, 42);
    color: #ccc;
    justify-content: center;
}

.headerspacing {
    gap: 1100px;
    display: flex;
    justify-content: space-between;
}

.headercontent {
    font-size: x-large;
}

.icon2 {}

.box1 {
    position: relative;
    background-image: url("WhatsApp Image 2026-04-01 at 11.41.53 AM.jpeg");
    background-size: cover;
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 400px;
}

.boxcontent {
    color: aliceblue;
    border-radius: 20px;
    gap: 20px;
    padding: 60px 80px 30px 40px;
    background-color: rgb(255, 89, 0);
    display: flex;
    width: 250px;
    height: 80px;
}

.icon2 {
    font-size: 50px;
    color: white;
}

.link1 {
    color: aliceblue;
    text-decoration: 1px solid #ccc underline;
}

.link1:hover {
    color: #ccc;
    text-decoration: 1px solid aliceblue underline;
}

.flotingimg {
    position: absolute;
    top: 300px;
    z-index: 1;
}

.fimg {
    border-radius: 50%;
}

.flotingbox {
    top: 400px;
    border-radius: 20px;
    position: absolute;
    background-color: aliceblue;
    width: 680px;
    height: 315px;
    text-align: center;
    padding: 130px 50px 1px 50px;
}

.flotingcontent1 {
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.flotingcontent2 {
    font-size: 30px;
    font-weight: bolder;
    color: red;
    margin-bottom: 28px;
}

.flotingcontent3 {
    font-size: 25px;
    margin-bottom: 30px;

}

.link2 {
    font-size: 16px;
    color: rgb(40, 40, 40);
}

.link21 {
    margin-left: 3px;
    color: rgb(40, 40, 40);
    text-decoration: 1px solid rgb(0, 0, 0) underline;
}

.link21:hover {
    text-decoration: 1px solid #ff9500 underline;
}

.box2 {
    padding-top: 420px;
    background-color: rgb(32, 32, 32);
}

.box21 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
}

.content21 {
    font-weight: bold;
    font-size: 70px;
    color: #ff5e00;
    margin-bottom: 20px;
}

.content22 {
    width: 800px;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;

}

.link3 {
    color: aliceblue;
    margin-left: 3px;
    text-decoration: 1px solid aliceblue underline;
}

.link3:hover {
    text-decoration: 1px solid #ff9500 underline;
}

.box3 {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box31 {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    color: #ff5e00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 80px;
    transition: margin-top 0.5s, outline 0.2s;
}

.box31:hover {
    margin-top: 75px;
    outline: 3px solid orangered;
    outline-offset: -1p;
}

.box4 {
    margin-top: 200px;
}

.box41 {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title41 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}

.content41 {
    width: 700px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.box42 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.inbox1 {
    width: 270px;
    height: 360px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-bottom: 30px;
    text-align: center;
}

.inboximg {
    border-radius: 10px 10px 1px 1px;
    width: 100%;
    height: 230px;
}

.ininbox {
    transition: margin-top 0.5s;
    padding: 15px
}

.ininbox:hover {
    margin-top: -10px;
}

.ininbox1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;
}

.ininbox2 {
    color: #5c5c5c;
}

.box5 {
    padding-bottom: 100px;
}

.title5 {
    margin-top: 180px;
    color: aliceblue;
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 100px;
}

.box51 {
    display: grid;
    justify-content: center;
}

.inbox51 {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr;
    justify-content: center;
    align-items: center;
    gap: 115px;
    width: 1170px;
}

.inbox151 {
    width: 120px;
    height: 120px;
    outline: 15px solid orangered;
    outline-offset: -15px;
    border-radius: 50%;
}

.textbox1 {
    margin-left: -80px;
}

.text51 {
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 25px;
}

.text151 {
    text-transform: uppercase;
    color: #ff5e00;
    font-size: 18px;
}

.box6 {
    background-image: url("WhatsApp Image 2026-04-01 at 11.41.53 AM.jpeg");
    background-size: cover;
    height: 320px;
    
}

.box61{
    display: flex;
    justify-content: center;
    height: 220px;
    align-items: center;
}

.inbox6{
    display: flex;
    gap: 20px;
    color: rgb(137, 137, 137);
}

.inbox61 {
}

.inbox62{
}

.inboxnumber{
    font-size: 30px;
    font-weight: bolder;
    margin-right: 20px;
}

.inboxletter{
    font-size: 20px;
    margin-right: 20px;
}

.link4box{
    color: aliceblue;
    text-align: center;
}

.link4{
    color: aliceblue;
    margin-left: 3px;
    text-decoration: 1px solid aliceblue underline;
}

.link4:hover{
    text-decoration: 1px solid #ff9500 underline;
}

.box7{
    background-color: rgb(32, 32, 32);
}

.box71{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box7img{
    height: 600px;
    width: 800px;
    margin-left: -100px;
}

.box7content{
    color: aliceblue;
    height: 500px;
    width: 600px;
    margin-top: 100px;
    margin-left: 100px;
}

.content1{
    font-size: 50px;
    font-weight: bolder;
}

.link5box{
    margin-top: 40px;
    color: aliceblue;
}

.link5{
    color: aliceblue;
    margin-left: 3px;
    text-decoration: 1px solid aliceblue underline;
}

.link5:hover{
    color: #ccc;
}

.content2{
    margin-top: 40px;
}

footer {}